/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/*table css*/
table {
    margin: auto!important;
    border-collapse: collapse!important;
    overflow-x: auto!important;
    /*display: block!important;*/
    /*width: fit-content!important;*/
    max-width: 100%!important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td:first-of-type, th:first-of-type {
    border-left: none!important;
}

td:last-of-type, th:last-of-type {
    border-right: none!important;
}

.fa-stack {
    position: relative;
    /* Adjust these values accordingly */
    bottom: 4px;
    padding: 4px;
}